<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Microsoft.Data.Visualization.VisualizationControls.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Microsoft.Data.Visualization.VisualizationControls.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Microsoft.Data.Visualization.VisualizationControls.Settings>
            <setting name="AerialWithLabelsEndPoint" serializeAs="String">
                <value/>
            </setting>
            <setting name="AerialWithoutLabelsEndPoint" serializeAs="String">
                <value/>
            </setting>
            <setting name="RoadWithoutLabelsEndPoint" serializeAs="String">
                <value/>
            </setting>
            <setting name="BingLogoAerialEndPoint" serializeAs="String">
                <value/>
            </setting>
            <setting name="BingLogoEndPoint" serializeAs="String">
                <value/>
            </setting>
            <setting name="CombinedLogoAerialEndPoint" serializeAs="String">
                <value/>
            </setting>
            <setting name="CombinedLogoEndPoint" serializeAs="String">
                <value/>
            </setting>
            <setting name="RoadWithLabelsEndPoint" serializeAs="String">
                <value/>
            </setting>
            <setting name="GeocodingEndPoint" serializeAs="String">
                <value/>
            </setting>
            <setting name="ShowProfilerInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GraphicsLevel" serializeAs="String">
                <value/>
            </setting>
        </Microsoft.Data.Visualization.VisualizationControls.Settings>
        <Microsoft.Data.Visualization.VisualizationControls.Properties.Settings1>
            <setting name="a" serializeAs="String">
                <value/>
            </setting>
        </Microsoft.Data.Visualization.VisualizationControls.Properties.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
